// 폰트 사이즈
$fontxs: 10px;
$fontsm: 14px;
$fontmd: 16px;
$fontlg: 20px;
$fontxl: 28px;
$font2xl: 40px;

// 폰트 두께
$weightxs: 100;
$weightsm: 200;
$weightmd: 400;
$weightlg: 500;
$weightxl: 700;
$weight2xl: 900;
