@use "../theme/index" as theme;

.aniWrapper {
  @include theme.colFlex($align: inherit, $gap: 40px);

  .reloadBtn {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 80px;
    height: 80px;
    padding: 8px;
    background-color: #fff;
    border: 2px solid theme.$primary;
    border-radius: 8px;
    cursor: pointer;
  }
}
